body {
  margin: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #eaf6f6;
  padding: 0 2%;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: #66bfbf;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link{
  color: #66bfbf;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #9ddfd3;
}

.navbar-toggler{
  background-color: #66bfbf;
}

.top {
  background-color: #EAF6F6;
  position: relative;
  padding: 50px 50px 0;
}

.middle {
  margin: 80px 0 80px;
}

.bottom {
  padding: 60px 0 20px 0;
  background-color: #66BFBF;
}

span {
  font-weight: normal;
}

h1 {
  margin: 50px auto 20px auto;
  font-size: 7.5rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #11999E;
  margin-bottom: 25px;
}

p {
  margin : 0 0 0 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 280px;
}

.profile{
  margin-bottom: 100px;
}

.Myself{
  margin-bottom: 30px;
}

.My-skills{
  padding: 80px 0 20px;
  background-color: #eaf6f6;
}

.skill-row1 {
  width: 50%;
  margin: 60px auto 80px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 80px auto 100px auto;
  text-align: left;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  padding-left: 0;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 20px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px;/* Add bottom padding */
  padding-right: 10px;/* Add right padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #fd7e14;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #ffc107;} /* Yellowish */
.py {width: 75%; background-color: #0d6efd;} /* Yellow */
.c {width: 70%; background-color: #6f42c1;} /* Purple */
.cpp {width: 65%; background-color: #2196F3;} /* Blue */
.java {width: 60%; background-color: #dc3545;} /* Red */
.php {width: 50%; background-color: #808080;} /* Dark Grey */

.Logo{
  width: 5%;
  padding-bottom: 5px;
}

.intro {
  width: 30%;
  margin: auto;
  color: #40514E;
}

.contact-me{
  margin-top: 100px;
}

.contacto{
  margin: 35px auto 50px;
  width: 40%;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

a{
  color: #11999E;
  margin: 20px 30px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.cpr {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}
